# This file manages different configuration for the build script.
# Having this makes it easier to customize different arguements for the script
# file without depending on changing the script itself or put in arguements on
# the command line when running it.

# Name of the OS
NAME=Omnicron
# Version (major.minor.build)
VERSION=1.0.0